In [8]:
!conda install xlrd -y

Collecting package metadata (current_repodata.json): done
Solving environment: \
The environment is inconsistent, please check the package plan carefully
The following packages are causing the inconsistency:

  - conda-forge/noarch::ipywidgets==7.6.3=pyhd3deb0d_0
  - conda-forge/osx-64::widgetsnbextension==3.5.1=py39h6e9494a_4
  - conda-forge/noarch::ipympl==0.7.0=pyhd8ed1ab_0
  - conda-forge/osx-64::ipykernel==5.5.3=py39h71a6800_0
  - conda-forge/osx-64::ipython==7.22.0=py39h71a6800_0
  - conda-forge/osx-64::notebook==6.3.0=py39h6e9494a_0
  - conda-forge/noarch::jupyterlab==3.0.12=pyhd8ed1ab_0
  - conda-forge/noarch::nbclassic==0.2.6=pyhd8ed1ab_0
  - conda-forge/osx-64::rise==5.7.1=py39h6e9494a_0
done

## Package Plan ##

  environment location: /Users/seanreed1/miniconda

  added / updated specs:
    - xlrd


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    decorator-5.0.9            |     pyhd8ed1ab_0          11 KB  conda-forge
    xlrd-2.0.1                 |     pyhd8ed1ab_3          92 KB  conda-forge
    ------------------------------------------------------------
                                           Total:         103 KB

The following NEW packages will be INSTALLED:

  decorator          conda-forge/noarch::decorator-5.0.9-pyhd8ed1ab_0
  xlrd               conda-forge/noarch::xlrd-2.0.1-pyhd8ed1ab_3



Downloading and Extracting Packages
decorator-5.0.9      | 11 KB     | ##################################### | 100%
xlrd-2.0.1           | 92 KB     | ##################################### | 100%
Preparing transaction: done
Verifying transaction: done
Executing transaction: done

In [9]:
import pandas as pd
import numpy as np
import seaborn as sns

import xlrd
from sklearn.metrics import confusion_matrix
from sklearn.model_selection import train_test_split
from src.split_data import statmodels_split

In [10]:
titanic = pd.read_excel("https://hbiostat.org/data/repo/titanic3.xls")

In [11]:
titanic.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1309 entries, 0 to 1308
Data columns (total 14 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   pclass     1309 non-null   int64
 1   survived   1309 non-null   int64
 2   name       1309 non-null   object
 3   sex        1309 non-null   object
 4   age        1046 non-null   float64
 5   sibsp      1309 non-null   int64
 6   parch      1309 non-null   int64
 7   ticket     1309 non-null   object
 8   fare       1308 non-null   float64
 9   cabin      295 non-null    object
 10  embarked   1307 non-null   object
 11  boat       486 non-null    object
 12  body       121 non-null    float64
 13  home.dest  745 non-null    object
dtypes: float64(3), int64(4), object(7)
memory usage: 143.3+ KB

In [12]:
titanic.head()

   pclass  survived  ...   body                        home.dest
0       1         1  ...    NaN                     St Louis, MO
1       1         1  ...    NaN  Montreal, PQ / Chesterville, ON
2       1         0  ...    NaN  Montreal, PQ / Chesterville, ON
3       1         0  ...  135.0  Montreal, PQ / Chesterville, ON
4       1         0  ...    NaN  Montreal, PQ / Chesterville, ON

[5 rows x 14 columns]

## Discussion: if I want to make a logistic regression model to predict the survivors of the titanic, which columns should I drop??

In [13]:
titanic.columns

Index(['pclass', 'survived', 'name', 'sex', 'age', 'sibsp', 'parch', 'ticket',
       'fare', 'cabin', 'embarked', 'boat', 'body', 'home.dest'],
      dtype='object')